<html ng-app="wpReader">
	<head>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta charset="utf8">
		<title>Buscador WP</title>
		<script src="https://use.fontawesome.com/4ef912055f.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css">
		<style>
		    a {
		    	color: black;
		    }
			h1,h2,h3,h4,h5,h6 {
				line-height: 1.36em;
				font-weight: 800;
			}
		</style>
	</head>
	<body ng-controller="FirstCtrl">
		<div id="singleSource">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-md-4">
						<h1>{{sourceName}}</h1>

						<a href="#" ng-click="closeSingleSource()"><h3><i class="fa fa-times" aria-hidden="true"></i> Fechar</h3></a>
					</div>
					<div class="col-sm-10 col-md-7" style="margin-top: 30px;">
							<img id="loading" style=" mix-blend-mode: screen;"  src="loader.gif" alt="">
						<h4>ÚLTIMOS POSTS</h4>
						<div class="row" ng-repeat="post in singleSourcePosts">
		
							<div class="post-source-container col-md-12">
								<p class="chapeu"><small><a href="" ng-click="singleSource(post.apiUrl)"><strong>{{post.midia}}</strong></a> | <span ng-bind-html="post.date | date"></span></small></p>
								<a target="_blank" ng-href="{{post.link}}"><h2  class="media-heading" ng-bind-html="post.title.rendered"></h2></a>
								<p ng-bind-html="post.resumo" class="lead"></p>
								<h5><i class="fa fa-clock-o" aria-hidden="true"></i> {{post.readtime}} min.</h5>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="searchResults">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-md-4">
						<h1>{{termobuscado}}</h1>
						<a href="#" ng-click="closeBuscaResults()"><h4><i class="fa fa-times" aria-hidden="true"></i> Fechar</h4></a>

						<form class="form-inline" style="margin-top: 40px;">
							<div class="form-group">
					    		<input type="busca" class="form-control" id="exampleInputEmail1" placeholder="O que você procura?" ng-model="buscatermo" style="color:black">  
					  		</div>
					  		<button class="form-control btn btn-warning" type="submit" class="btn btn-warning" ng-click="buscartermo()"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
						</form>

					</div>
					<div class="col-sm-10 col-md-7" style="margin-top: 30px;">
						<div class="row" ng-repeat="post in buscaPosts">
		
							<div class="post-source-container col-md-12">
								<p class="chapeu"><small><a href="" ng-click="singleSource(post.apiUrl)"><strong>{{post.midia}}</strong></a> | <span ng-bind-html="post.date | date"></span></small></p>
								<a target="_blank" ng-href="{{post.link}}"><h2  class="media-heading" ng-bind-html="post.title.rendered"></h2></a>
								<p ng-bind-html="post.resumo" class="lead"></p>
								<h5><i class="fa fa-clock-o" aria-hidden="true"></i> {{post.readtime}} min.</h5>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="next-page"  ng-click="proxPag()">
			<a  href="#paginaatual"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
		</div>
		<div id="previous-page" ng-if="paginaAtual > 1" ng-click="prevPag()">
			<a  href="#paginaatual"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		</div>
<!-- 		<div class="container-fluid" style="background-color: #ffff8a; opacity: 0.1">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-12"><h1>Jornalismo Independente</h1></div>
					<div class="col-md-12">
						<form class="form-inline">
							<div class="form-group">
					    		<input type="busca" class="form-control" id="exampleInputEmail1" placeholder="O que você procura?" ng-model="buscatermo">  
					  		</div>
					  		<button class="form-control" type="submit" class="btn btn-warning" ng-click="buscartermo()">Buscar</button>
						</form>

						<form class="form-inline">
							<button class="form-control btn btn-info" type="submit" class="btn btn-info" ng-click="ordenarData()">Ordenar por Data</button>
						  	<button class="form-control btn btn-info" type="submit" class="btn btn-info" ng-click="ordenarOcc()">Ordenar por Ocorrências do Termo</button>
						</form>
						  	
					  	<h4>Sites:</h4>
					 	<p><small ng-repeat="site in sites">{{site.name}}, </small></p>
					</div>
				</div>
			</div>
		</div> -->

		<div class="container">
			<!-- <div class="row">
				<div class="col-md-12">
		  			<h3 style="color:#888" ng-if="buscatermo != ''">Resultados para {{termobuscado}}</h3>
				</div>
				<div class="col-md-4" ng-repeat="post in buscaPosts" style="margin-top: 50px;">
					<p><small><strong>{{post.midia}}</strong> | <span ng-bind-html="post.date | date"></span></small></p>
					<a target="_blank" ng-href="{{post.link}}"><h5  class="media-heading" ng-bind-html="post.title.rendered"></h5></a>
					<p>{{post.resumo}}</p>
				</div>
			</div> -->
			<div class="row">
				<div class="col-md-8">
				<h1>jornalismo<span style="font-weight: 400;">independente</span><span style="font-weight: 100;">.com.br</span></h1>
				<h4 id="paginaatual">Página {{paginaAtual}}</h4>
				</div>
				<div class="col-md-4">
					<form class="form-inline" style="margin-top: 40px;">
						<div class="form-group">
				    		<input type="busca" class="form-control" id="exampleInputEmail1" placeholder="O que você procura?" ng-model="buscatermo">  
				  		</div>
				  		<button class="form-control btn btn-default" type="submit" class="btn btn-warning" ng-click="buscartermo()"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
					</form>
				</div>
				
			</div>
			<div class="row">
				<div class="col-sm-6 col-lg-4 post-wrapper" ng-repeat="post in ultimosPosts">
					<div class="post-container">
						<p class="chapeu"><small><a href="" ng-click="singleSource(post.apiUrl, post.midia)"><strong>{{post.midia}}</strong></a> | <span ng-bind-html="post.date | date"></span></small></p>
						<a target="_blank" ng-href="{{post.link}}"><h3  class="media-heading" ng-bind-html="post.title.rendered"></h3></a>
						<p ng-bind-html="post.resumo"></p>
						<h5><i class="fa fa-clock-o" aria-hidden="true"></i> {{post.readtime}} min.</h5>
					</div>
				</div>
			</div>
		</div>
		<script
		  src="http://code.jquery.com/jquery-3.2.1.min.js"
		  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-resource.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-sanitize.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>